{% extends 'input.html' %}
{% block table %}
<table class='mongodb-data'>
<th>ID</th><th>Name</th><th>Country Iso</th><th>City</th><th>Nace</th><th>Website</th><th>Company Name Cleaned</th>
<tr><td class="right">1</td><td>PANTHEON STUDIOS UK LTD</td><td>UK</td><td>None</td><td class="right">6201.0</td><td>https://www.pantheon-studios.com</td><td>Pantheon Studios</td>
</tr>
<td class="right">2</td><td>A1 BOOKKEEPING & ACCOUNTANCY SERVICES LTD</td><td>UK</td><td>None</td><td class="right">6920.0</td><td>https://www.mwbookkeeping.com</td><td>A1 Bookkeeping & Accountancy Services</td>
</tr>
<td class="right">3</td><td>AHL LIMITED</td><td>UK</td><td>None</td><td class="right">4399.0</td><td>https://www.ahl-services.com</td><td>AHL</td>
</tr>
<td class="right">4</td><td>AJCOMMERCE LIMITED</td><td>UK</td><td>None</td><td class="right">9609.0</td><td>https://www.made4men.co.uk</td><td>AJ Commerce</td>
</tr>
<td class="right">5</td><td>ABLETT BELL LIMITED</td><td>UK</td><td>Nottingham</td><td class="right">6202.0</td><td>https://www.ablettbell.co.uk</td><td>Ablett Bell</td>
</tr>
<td class="right">6</td><td>A2Z ACCESSORIES LIMITED</td><td>UK</td><td>Edgware</td><td class="right">4791.0</td><td>https://www.a2zaccessories.co.uk</td><td>A2Z Accessories</td>
</tr>
<td class="right">7</td><td>ADVANCED TECHNOVATION LTD</td><td>UK</td><td>None</td><td class="right">6190.0</td><td>https://www.advancedtechnovation.co.uk</td><td>Advanced Technovation</td>
</tr>
<td class="right">8</td><td>ACCUMAC LIMITED</td><td>UK</td><td>None</td><td class="right">46690.0</td><td>https://www.accumac.co.uk</td><td>Accumac</td>
</tr>
<td class="right">9</td><td>GLOUCESTERSHIRE MOTORHOME SERVICES LTD</td><td>UK</td><td>None</td><td class="right">4520.0</td><td>https://www.glosmotorhomeservices.com</td><td>Gloucestershire Motorhome Services</td>
</tr>
<td class="right">10</td><td>ALDABRA LIGHTING LIMITED</td><td>UK</td><td>None</td><td class="right">7490.0</td><td>https://www.aldabra.it</td><td>Aldabra Lighting</td>
</tr>
<td class="right">11</td><td>INITIATIVES IN CARE LIMITED</td><td>UK</td><td>None</td><td class="right">7022.0</td><td>https://www.initiativesincare.co.uk</td><td>Initiatives In Care</td>
</tr>
<td class="right">12</td><td>HEYWARDS LIMITED</td><td>UK</td><td>None</td><td class="right">41100.0</td><td>https://www.heywards.co.uk</td><td>Heywards</td>
</tr>
<td class="right">13</td><td>LOMAN HOLBROOKE O'NEILL LIMITED</td><td>UK</td><td>Reading</td><td class="right">6499.0</td><td>https://www.theaccountants.net</td><td>Loman Holbrooke O'Neill</td>
</tr>
<td class="right">14</td><td>TG TELEMETRICS LTD</td><td>UK</td><td>Liverpool</td><td class="right">7112.0</td><td>https://www.tgtelemetrics.com</td><td>TG Telemetrics</td>
</tr>
<td class="right">15</td><td>RIVER HAMBLE GAMES LTD</td><td>UK</td><td>None</td><td class="right">9319.0</td><td>https://www.riverhamblegames.com</td><td>River Hamble Games</td>
</tr>
<td class="right">16</td><td>A W DENT LTD</td><td>UK</td><td>None</td><td class="right">7022.0</td><td>https://www.awdent.co.uk</td><td>A W Dent</td>
</tr>
<td class="right">17</td><td>ALLDRIVE CLASSIC 4X4 LIMITED</td><td>UK</td><td>None</td><td class="right">4520.0</td><td>https://www.alldriveclassic4x4.co.uk</td><td>Alldrive Classic 4X4</td>
</tr>
<td class="right">18</td><td>3 WAY COMPONENTS LTD.</td><td>UK</td><td>None</td><td class="right">8299.0</td><td>https://www.3waycomponents.co.uk</td><td>3 Way Components</td>
</tr>
<td class="right">19</td><td>1STOPTRAILERS LTD</td><td>UK</td><td>None</td><td class="right">4799.0</td><td>https://www.1stoptrailers.co.uk</td><td>1Stoptrailers</td>
</tr>
<td class="right">20</td><td>AKROYD CONSULTING LIMITED</td><td>UK</td><td>None</td><td class="right">6209.0</td><td>https://www.akroydconsulting.co.uk</td><td>Akroyd Consulting</td>
</tr>
</table>
{% endblock %}