{% extends 'index.html' %}
{% block content %}
<table class='mongodb-data'>
<th>Company Name Cleaned</th><th>ID</th><th>Name</th><th>Country Iso</th><th>City</th><th>Nace</th><th>Website</th><tr>
<td>Pantheon Studios</td><td>1</td><td>PANTHEON STUDIOS UK LTD</td><td>UK</td><td>None</td><td>6201</td><td>https://www.pantheon-studios.com</td></tr>
<tr>
<td>A1 Bookkeeping & Accountancy Services</td><td>2</td><td>A1 BOOKKEEPING & ACCOUNTANCY SERVICES LTD</td><td>UK</td><td>None</td><td>6920</td><td>https://www.mwbookkeeping.com</td></tr>
<tr>
<td>AHL</td><td>3</td><td>AHL LIMITED</td><td>UK</td><td>None</td><td>4399</td><td>https://www.ahl-services.com</td></tr>
<tr>
<td>AJ Commerce</td><td>4</td><td>AJCOMMERCE LIMITED</td><td>UK</td><td>None</td><td>9609</td><td>https://www.made4men.co.uk</td></tr>
<tr>
<td>Ablett Bell</td><td>5</td><td>ABLETT BELL LIMITED</td><td>UK</td><td>Nottingham</td><td>6202</td><td>https://www.ablettbell.co.uk</td></tr>
<tr>
<td>A2Z Accessories</td><td>6</td><td>A2Z ACCESSORIES LIMITED</td><td>UK</td><td>Edgware</td><td>4791</td><td>https://www.a2zaccessories.co.uk</td></tr>
<tr>
<td>Advanced Technovation</td><td>7</td><td>ADVANCED TECHNOVATION LTD</td><td>UK</td><td>None</td><td>6190</td><td>https://www.advancedtechnovation.co.uk</td></tr>
<tr>
<td>Accumac</td><td>8</td><td>ACCUMAC LIMITED</td><td>UK</td><td>None</td><td>46690</td><td>https://www.accumac.co.uk</td></tr>
<tr>
<td>Gloucestershire Motorhome Services</td><td>9</td><td>GLOUCESTERSHIRE MOTORHOME SERVICES LTD</td><td>UK</td><td>None</td><td>4520</td><td>https://www.glosmotorhomeservices.com</td></tr>
<tr>
<td>Aldabra Lighting</td><td>10</td><td>ALDABRA LIGHTING LIMITED</td><td>UK</td><td>None</td><td>7490</td><td>https://www.aldabra.it</td></tr>
<tr>
<td>Initiatives In Care</td><td>11</td><td>INITIATIVES IN CARE LIMITED</td><td>UK</td><td>None</td><td>7022</td><td>https://www.initiativesincare.co.uk</td></tr>
<tr>
<td>Heywards</td><td>12</td><td>HEYWARDS LIMITED</td><td>UK</td><td>None</td><td>41100</td><td>https://www.heywards.co.uk</td></tr>
<tr>
<td>Loman Holbrooke O'Neill</td><td>13</td><td>LOMAN HOLBROOKE O'NEILL LIMITED</td><td>UK</td><td>Reading</td><td>6499</td><td>https://www.theaccountants.net</td></tr>
<tr>
<td>TG Telemetrics</td><td>14</td><td>TG TELEMETRICS LTD</td><td>UK</td><td>Liverpool</td><td>7112</td><td>https://www.tgtelemetrics.com</td></tr>
<tr>
<td>River Hamble Games</td><td>15</td><td>RIVER HAMBLE GAMES LTD</td><td>UK</td><td>None</td><td>9319</td><td>https://www.riverhamblegames.com</td></tr>
<tr>
<td>A W Dent</td><td>16</td><td>A W DENT LTD</td><td>UK</td><td>None</td><td>7022</td><td>https://www.awdent.co.uk</td></tr>
<tr>
<td>Alldrive Classic 4X4</td><td>17</td><td>ALLDRIVE CLASSIC 4X4 LIMITED</td><td>UK</td><td>None</td><td>4520</td><td>https://www.alldriveclassic4x4.co.uk</td></tr>
<tr>
<td>3 Way Components</td><td>18</td><td>3 WAY COMPONENTS LTD.</td><td>UK</td><td>None</td><td>8299</td><td>https://www.3waycomponents.co.uk</td></tr>
<tr>
<td>1Stoptrailers</td><td>19</td><td>1STOPTRAILERS LTD</td><td>UK</td><td>None</td><td>4799</td><td>https://www.1stoptrailers.co.uk</td></tr>
<tr>
<td>Akroyd Consulting</td><td>20</td><td>AKROYD CONSULTING LIMITED</td><td>UK</td><td>None</td><td>6209</td><td>https://www.akroydconsulting.co.uk</td></tr>
</table>
{% endblock %}