{% extends 'base.html' %}

{% block head %}
<title>MongoDB - Flask апликација</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class= {{ category }} role="alert" id="hideMe">
            <table class="msg">
                <tr>
                    <td>
                        <strong>
                            {{ message }}
                        </strong>
                    </td>
                    </td>
                        <button id="close" onclick="hideAlert()">+</button>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="content">
    {{ outcome }}
    <div class="button-container">
        <table class="button-table">
            <tr>
                <td>
                    <form method="post" action="/update_sql" class="function-call">
                        <input type="submit" name="sqldb" value="Update the SQL database" class="function-button">
                    </form>
                </td>
                <td>
                    <form id="mongodb-writer" method="post" action="/write_to_mongodb" class="function-call">
                        <input type="submit" name="mongodb-write" value="Create a MongoDB" class="function-button" onclick="showOnClick()">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<table class="loading-container invisible" style="display: none">
    <tr>
        <td>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        </td>
    </tr>
    <tr>
        <td>
            <span class="loading-text"></span>
        </td>
    </tr>
</table>
<script type = "text/javascript">  

    function showOnClick() {  
        var showDiv = document.querySelector('.invisible').style.display = '';
    };

    function hideAlert() {
            var showDiv = document.getElementsByClassName('#hideMe').style.display = 'none';
    };

</script>
{% endblock %} 
{% block input %}{% endblock %}

