{% extends 'base.html' %}

{% block head %}
<title>MongoDB - Flask апликација</title>
{% endblock %}

{% block body %}
<div class="content">
    {{ outcome }}
    <div class="button-container">
        <table class="button-table">
            <tr>
                <td>
                    <form method="post" action="/update_sql" class="function-button">
                        <input type="submit" name="sqldb" value="Update the SQL database"></input>
                    </form>
                </td>
                <td>
                    <form method="post" action="/write_to_mongodb" class="function-button">
                        <input type="submit" name="mongodb" value="Create a MongoDB"></input>
                    </form>
                </td>
                <td>
                    <form method="post" action="/write_to_mongodb" class="function-button">
                        <input type="submit" name="mongodb" value="Output MongoDB Objects"></input>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
<div class="mongodb-content">
    {% block content %}{% endblock %}
</div>